body {
    background-color: #BAFFBB;
    display: flex;
    margin: 50px auto;
    justify-content: center;
    & .end{
      align-self: flex-end;
      position: relative;
      right : 735px;
    }
  }
  
  .player, .cpu{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 500px;
  }

  .cardPlayer, .cardCpu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 370px;
    margin: auto;

  }
  
  .bingo{
    display: flex;
    width: 400px;
    height: 500px;
    flex-direction: column;
    align-items: center;
  }
  
  
  .numberBingo{
    width: 200px;
    height: 200px;
    background-color: white;
    border: 2px solid;
    box-shadow: 5px 5px 15px grey;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: auto;
  }
  
  #numElement{
    font-size: 130px;
  }
  
  .boton{
    margin: auto;
  }
  #button{
    position: relative;
    bottom: 70px;
    width: 200px;
    height: 50px;
    border-radius: 12px;
    box-shadow: 5px 5px 15px black;
    font-size: 20px;
    cursor: pointer;
  }
  
  #button:hover {
    background-color: #BDB7B7;
  }
  
  #button:active {
    background-color: #6D6767;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .number {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid;
    box-shadow: 3px 3px 15px grey;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 25px;
  }

  .number.strike {
    background-color: #2FB331;
    width: 50px;
    height: 50px;
  }

  .hidden {
    display: none;
  }

  .notHidden {
    display: block;
  }

  .end{
    position: relative;
    top: 20px;
  }

  #result {
    font-size: 50px;
  }